// Mixins in here


.flex() {
    display: flex;
}//flex mixin

.flex-col() {
    display: flex;
    flex-direction: column;
}// flex-column mixin

.signup-btn(@btn-color; @text-color) {
    background: @btn-color;
    color: @text-color;
    border-radius: 15px;
    .flex();
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 2rem;
}//sign up buttons
