.nav-container {
    width: 800px;
    margin: 0 auto;
    .flex();
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    nav {
        .flex();
        justify-content: space-between;
        width: 50%;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.border {
    width: 100%;
    height: 5px;
    border-bottom: 1px dashed lightgray;
    display: inline-block;
}
